---
import Heading from "@components/Heading.astro";
import TextLink from "@components/TextLink.astro";
import Facts from "./Facts.astro";
---

<section
  class="p-4 md:p-6 xl:p-8 min-h-screen flex justify-center items-center"
>
  <div class="container mx-auto">
    <div
      class="grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 gap-8 xl:gap-16"
    >
      <div
        class="space-y-4 xl:space-y-8 col-span-4 lg:col-span-5 xl:col-span-8"
      >
        <Heading>Hello, I'm <span class="text-blue-light">Tom</span>.</Heading>
        <p>
          I'm a web developer specialising in <span class="text-blue-light"
            >front-end development</span
          > using JavaScript.
        </p>
        <p>
          I enjoy using agile methodologies to build websites and web
          applications that are <span class="text-blue-light">performant</span>,


          <span class="text-blue-light">accessible</span> and <span
            class="text-blue-light">beautiful</span
          >.
        </p>
        <p>
          I'm passionate about building things with real value that make things
          <span class="text-blue-light">better</span> for people.
        </p>
        <TextLink href="/about" color="blue">Learn more about me</TextLink>
      </div>
      <Facts />
    </div>
  </div>
</section>
