---
import { getCollection } from "astro:content";
import Interest from "./Interest.astro";

const collection = await getCollection("interests");
const interests = collection.map((item) => item.data);

const colours = ["red", "yellow", "green", "blue", "purple"] as const;
---

<footer class="px-4">
  <div
    class="container mx-auto bg-grey-1 border border-grey-11 rounded-lg px-4 md:px-6 xl:px-8 mb-4 flex justify-center"
  >
    {
      interests.map((interest, index) => (
        <Interest interest={interest} colour={colours[index]} />
      ))
    }
  </div>
</footer>

<style>
  footer {
    box-shadow: 4px 4px 0px theme(colors.grey.5);
  }
</style>
