---
import LinkButton from "@components/LinkButton.astro";
---

<header class="p-4 md:p-6 xl:p-8">
  <div class="container relative mx-auto grid items-center">
    <div>
      <h1 class="text-lg lg:text-xl font-semibold text-blue-light">
        Tom Scanlon | Web Developer
      </h1>
      <h2 class="text-4xl md:text-6xl pb-6 md:pb-8">
        <span class="block leading-normal">
          Making the world a <span
            class="leading-normal text-transparent bg-clip-text bg-gradient-to-b from-blue to-blue-light"
            >better place</span
          >,
        </span>
        <span class="block leading-normal"> one line of code at a time.</span>
      </h2>
      <div class="space-x-4">
        <LinkButton color="blue" href="/contact">Get in touch</LinkButton>
        <LinkButton color="grey" href="/portfolio">See my work</LinkButton>
      </div>
    </div>
  </div>
</header>

<style>
  header h2 {
    text-shadow: 2px 2px 0px theme(colors.grey.5);

    @media screen(md) {
      text-shadow: 3px 3px 0px theme(colors.grey.5);
    }

    @media screen(xl) {
      text-shadow: 4px 4px 0px theme(colors.grey.5);
    }
  }

  header h2 > span {
    text-shadow: none;
    filter: drop-shadow(2px 2px 0px theme(colors.grey.3));

    @media screen(md) {
      filter: drop-shadow(3px 3px 0px theme(colors.grey.3));
    }

    @media screen(xl) {
      filter: drop-shadow(4px 4px 0px theme(colors.grey.3));
    }
  }
</style>
