---

---

<section
  class="p-4 md:p-6 xl:p-8 min-h-screen flex justify-center items-center"
>
  <div class="container mx-auto">
    <div
      class="grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 gap-8 xl:gap-16"
    >
      <div
        class="space-y-4 xl:space-y-8 col-span-4 lg:col-span-5 xl:col-span-8"
      >
        <h2
          class="font-semibold text-2xl md:text-4xl xl:text-6xl pb-4 md:pb-8 xl:pb-12"
        >
          Hello, I'm <span class="text-blue-light">Tom</span>
        </h2>
        <p>
          I'm a web developer specialising in <span class="text-blue-light"
            >front-end development</span
          > using JavaScript.
        </p>
        <p>
          I enjoy using agile methodologies to build websites and web
          applications that are <span class="text-blue-light">performant</span>,


          <span class="text-blue-light">accessible</span> and <span
            class="text-blue-light">beautiful</span
          >.
        </p>
        <p>
          I'm passionate about building things with real value that make things
          <span class="text-blue-light">better</span> for people.
        </p>
        <a
          href="/"
          class="inline-block underline underline-offset-4 decoration-2 decoration-blue-light after:content-['_→'] duration-300 hover:text-blue-light hover:decoration-4 focus:text-blue-light focus:decoration-4 py-2 md:py-0"
          >Learn more about me</a
        >
      </div>
      <div
        id="facts"
        class="relative p-6 bg-blue-light 2xl:bg-gradient-to-tr from-blue-light to-blue to-90% text-grey-2 rounded-lg flex flex-col justify-between items-start col-span-4 lg:col-span-3 xl:col-span-4 min-h-[230px]"
      >
        <h3 class="font-semibold text-xl md:text-2xl xl:text-4xl z-10 pb-4">
          Fun fact about me:
        </h3>
        <p id="fact" class="z-10 pb-8">
          I learned to type when I was three years old.
        </p>
        <button
          id="new-fact"
          role="button"
          class="border rounded-lg p-3 xl:p-4 md:px-6 xl:px-8 z-10 w-full enabled:hover:bg-blue enabled:focus:bg-blue duration-300 disabled:opacity-75"
          >See another fact</button
        >
      </div>
    </div>
  </div>
</section>

<script>
  const facts = [
    "I built my first website when I was thirteen years old.",
    "I'm entirely self-taught in front-end development.",
    "I once accidentally shoplifted £20 worth of sweets. (I paid for them the next day!)",
    "I can't click my fingers.",
    "I can't touch my toes.",
    "Parlo un po' d'italiano.",
    "I memorised the entire Monty Python dead parrot sketch for a school performance.",
    "I have a worringly encyclopaedic knowledge of the London Underground.",
  ].sort(() => Math.random() - 0.5);

  const text = document.getElementById("fact");
  const factButton = document.getElementById(
    "new-fact"
  ) as HTMLButtonElement | null;

  function updateFact() {
    const newFact = facts.pop();

    if (text && newFact) {
      text.innerText = newFact;
    }

    if (factButton && facts.length === 0) {
      factButton.innerText = "Ok that's enough";
      factButton.disabled = true;
    }
  }

  factButton?.addEventListener("click", updateFact);
</script>

<style>
  #new-fact {
    box-shadow: 4px 4px 0px theme(colors.grey.5);
  }

  section h2 {
    text-shadow: 3px 3px 0px theme(colors.grey.5);
  }
</style>
