---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  class?: string;
  type: "listening to" | "playing" | "reading" | "learning" | "watching";
  color: "blue" | "red" | "green" | "yellow" | "orange" | "purple" | "teal";
  title: string;
  description: string;
  children: any;
}

const {
  class: className,
  type,
  title,
  description,
  color,
  ...attrs
} = Astro.props;
---

<a
  class="flex flex-col p-4 md:p-6 2xl:p-8 2xl:bg-gradient-to-tr text-grey-2 rounded-lg group"
  class:list={[
    {
      "2xl:bg-gradient-to-t bg-blue-light from-blue-light to-blue to-90%":
        color === "blue",
      "bg-red-light from-red-light to-red to-90%": color === "red",
      "bg-green-light from-green-light to-green to-90%": color === "green",
      "bg-yellow-light from-yellow-light to-yellow to-90%": color === "yellow",
      "bg-orange-light from-orange-light to-orange to-90%": color === "orange",
      "2xl:bg-gradient-to-t bg-purple-light from-purple-light to-purple to-90%":
        color === "purple",
      "bg-teal-light from-teal-light to-teal to-90%": color === "teal",
    },
    className,
  ]}
  target="_blank"
  {...attrs}
>
  <div class="flex items-center mb-4 xl:mb-6">
    <slot name="icon" />
    <h3
      class="underline underline-offset-4 decoration-4 decoration-transparent group-hover:decoration-grey-2 font-semibold text-xl md:text-2xl 2xl:text-3xl duration-300"
    >
      I'm {type}
    </h3>
  </div>
  <div class="mt-auto">
    <p class="font-semibold mb-1">{title}</p>
    <p class="text-xl italic">{description}</p>
  </div>
</a>
