---
import Container from "@components/Container.astro";
import TextLink from "@components/TextLink.astro";
import FreelanceForm from "@features/contact/forms/FreelanceForm.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  meta={{
    title: "Contact",
  }}
>
  <Container class="min-h-screen max-w-prose mx-auto mt-24">
    <TextLink
      as="a"
      href="/"
      color="green"
      class="before:content-['_â†'] after:content-none mb-8"
    >
      Back to homepage
    </TextLink>
    <h1 class="sr-only">Hiring contact form</h1>
    <FreelanceForm client:idle />
  </Container>
</BaseLayout>

<style is:global>
  form h2 {
    text-shadow: 2px 2px 0px theme(colors.grey.5);
  }
</style>
