---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@features/home/Hero.astro";
import About from "@features/home/About.astro";
---

<BaseLayout title="Home">
  <Hero />
  <main>
    <About />
  </main>
</BaseLayout>
