---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<BaseLayout title="Home">
  <Hero />
  <main>
    <About />
  </main>
</BaseLayout>
