---
import BaseLayout from "@layouts/BaseLayout.astro";

import Container from "@components/Container.astro";
import Heading from "@components/Heading.astro";

import Hero from "@features/home/components/Hero.astro";
import Facts from "@features/home/components/Facts.astro";
import Grid from "@features/home/components/Grid.astro";
import AboutMe from "@features/home/components/AboutMe.astro";
import Projects from "@features/home/components/Projects.astro";
import FeaturedProject from "@features/home/components/FeaturedProject.astro";
import ContactMe from "@features/home/components/ContactMe.astro";
import ListeningTo from "@features/home/components/ListeningTo.astro";
import Playing from "@features/home/components/Playing.astro";
import Reading from "@features/home/components/Reading.astro";
---

<BaseLayout title="Home">
  <Hero />
  <main>
    <Container>
      <Heading class="text-center">
        Hello, I'm <span class="text-blue-light">Tom</span>.
      </Heading>
      <Grid>
        <AboutMe class="col-span-8" />
        <Facts class="col-span-4" />
        <FeaturedProject class="col-span-4" />
        <Projects class="col-span-8" />
        <ListeningTo class="col-span-3" />
        <Playing class="col-span-3" />
        <Reading class="col-span-3" />
        <ContactMe class="col-span-8" />
      </Grid>
    </Container>
  </main>
</BaseLayout>
