---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  children: any;
}

const { class: className, ...attrs } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-2 gap-8 xl:gap-16 items-center"
  class:list={className}
  {...attrs}
>
  <slot />
</div>
