---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  children: any;
}

const { class: className, ...attrs } = Astro.props;
---

<div
  class="grid grid-cols-2 gap-4 md:gap-6 xl:gap-8 2xl:gap-16"
  class:list={className}
  {...attrs}
>
  <slot />
</div>
