---
import { getEntry } from "astro:content";
import Container from "@components/Container.astro";

const skillset = await getEntry("about", "skillset");
const { Content } = await skillset.render();
---

<Container id="skillset" class="bg-grey-1">
  <h2 class="text-2xl lg:text-4xl pb-8 md:pb-16">{skillset.data.title}</h2>
  <div
    class="relative"
    class:list={[
      // CSS for MDX content
      // Typography
      "text-grey-1 [&>ul>li>ul]:text-base [&>ul>li>ul]:mt-2 [&>ul>li>ul]:space-y-1",
      // Grid layout
      "[&>ul]:grid [&>ul]:grid-rows-2 [&>ul]:grid-cols-4 [&>ul]:gap-8",
      // Row alignment for timeline
      "[&>ul>li:nth-of-type(2n)]:row-start-2",
      // Column alignment for timeline
      "[&>ul>li:nth-of-type(2)]:col-start-2",
      "[&>ul>li:nth-of-type(3)]:col-start-3",
      "[&>ul>li:nth-of-type(4)]:col-start-4",
      // Spacing & border
      "[&>ul>li]:p-4 [&>ul>li]:my-1 [&>ul>li]:bg-grey-1 [&>ul>li]:rounded-lg [&>ul>li]:border [&>ul>li]:border-grey-11",
      // Color
      "[&>ul>li:nth-of-type(1)]:bg-green-light [&>ul>li:nth-of-type(1)]:before:bg-green-light",
      "[&>ul>li:nth-of-type(2)]:bg-yellow-light [&>ul>li:nth-of-type(2)]:before:bg-yellow-light",
      "[&>ul>li:nth-of-type(3)]:bg-orange-light [&>ul>li:nth-of-type(3)]:before:bg-orange-light",
      "[&>ul>li:nth-of-type(4)]:bg-red-light [&>ul>li:nth-of-type(4)]:before:bg-red-light",
      "[&>ul>li]:shadow-highlight",
      // Speech bubble
      "[&>ul>li]:relative [&>ul>li]:before:absolute [&>ul>li]:before:w-4 [&>ul>li]:before:h-4 [&>ul>li]:before:rotate-45 [&>ul>li]:before:border-grey-11 [&>ul>li]:before:left-[50%]",
      "[&>ul>li:nth-of-type(odd)]:before:-bottom-2 [&>ul>li:nth-of-type(odd)]:before:border-b [&>ul>li:nth-of-type(odd)]:before:border-r",
      "[&>ul>li:nth-of-type(2n)]:before:-top-2 [&>ul>li:nth-of-type(2n)]:before:border-t [&>ul>li:nth-of-type(2n)]:before:border-l",
    ]}
  >
    <Content />
    <div
      class="bg-gradient-to-r from-green via-yellow to-red w-full h-1 absolute bottom-[49%] rounded-full"
    >
    </div>
  </div>
</Container>

<style>
  h2 {
    text-shadow: 2px 2px 0px theme(colors.grey.5);
  }
</style>
