---
import { getEntry } from "astro:content";
import Container from "@components/Container.astro";

const skillset = await getEntry("about", "skillset");
const { Content } = await skillset.render();
---

<Container id="skillset" class="bg-grey-1">
  <h2 class="text-2xl lg:text-4xl pb-8 md:pb-16">{skillset.data.title}</h2>
  <div
    class:list={[
      // Cursed CSS for MDX content
      // Grid layout
      "[&>ul]:grid [&>ul]:grid-cols-1 [&>ul]:md:grid-cols-2 [&>ul]:gap-4 [&>ul]:md:gap-8 [&>ul]:xl:gap-16",
      // Typography
      "[&>ul>li>ul]:mt-2 [&>ul>li>ul]:space-y-4 [&>ul>li>h3]:text-xl [&>ul>li>h3]:lg:text-2xl [&>ul>li>ul>li>ul]:text-base [&>ul>li>ul>li>ul]:italic",
      // Border and spacing
      "[&>ul>li]:border-l-2 [&>ul>li]:pl-4 [&>ul>li]:place-self-stretch [&>ul>li]:w-full [&>ul>li]:py-4 [&>ul>li>h3]:pb-4",
      // Border and highlight colors
      "[&>ul>li:nth-of-type(1)]:border-green-light [&>ul>li:nth-of-type(1)>h3>span]:text-green-light [&>ul>li:nth-of-type(1)>ul>li>span]:text-green-light",
      "[&>ul>li:nth-of-type(2)]:border-yellow-light [&>ul>li:nth-of-type(2)>h3>span]:text-yellow-light [&>ul>li:nth-of-type(2)>ul>li>span]:text-yellow-light",
      "[&>ul>li:nth-of-type(3)]:border-orange-light [&>ul>li:nth-of-type(3)>h3>span]:text-orange-light [&>ul>li:nth-of-type(3)>ul>li>span]:text-orange-light",
      "[&>ul>li:nth-of-type(4)]:border-red-light [&>ul>li:nth-of-type(4)>h3>span]:text-red-light [&>ul>li:nth-of-type(4)>ul>li>span]:text-red-light",
    ]}
  >
    <Content />
  </div>
</Container>

<style>
  h2 {
    text-shadow: 2px 2px 0px theme(colors.grey.5);
  }
</style>
