---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  class?: string;
  children: any;
}

const { class: className, ...attrs } = Astro.props;
---

<section
  class="px-4 md:px-6 xl:px-8 py-12 md:py-18 xl:py-24 flex justify-center items-center"
  class:list={className}
  {...attrs}
>
  <div class="container mx-auto">
    <slot />
  </div>
</section>
