---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  class?: string;
  isExternal?: boolean;
  color: "blue" | "red" | "green" | "yellow" | "purple" | "grey";
  children: any;
}

const { children, color, class: className, ...props } = Astro.props;
---

<a
  {...props}
  class="inline-flex border rounded-lg p-3 lg:px-6 duration-300 justify-center items-center"
  class:list={[
    className,
    {
      "border-grey-3 text-grey-2 bg-blue-light hover:bg-blue focus:bg-blue":
        color === "blue",
      // Need to use the darkest grey available (grey 1) for WCAG AA with red buttons
      "border-grey-1 bg-red-light hover:bg-red focus:bg-red text-grey-1":
        color === "red",
      "border-grey-2 text-grey-2 bg-green-light hover:bg-green focus:bg-green":
        color === "green",
      "border-grey-2 text-grey-2 bg-yellow-light hover:bg-yellow focus:bg-yellow":
        color === "yellow",
      "border-grey-2 text-grey-2 bg-purple-light hover:bg-purple focus:bg-purple":
        color === "purple",
      "bg-grey-2 border-grey-11 text-grey-11 hover:bg-grey-4 focus:bg-grey-4":
        color === "grey",
    },
  ]}
>
  <slot />
</a>

<style>
  button,
  a {
    box-shadow: 4px 4px 0px theme(colors.grey.5);
  }
</style>
