---
import Logo from "./Logo.astro";
import Rainbow from "./Rainbow.astro";

const links = [
  {
    href: "/portfolio",
    text: "Portfolio",
  },
  {
    href: "/blog",
    text: "Blog",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/contact",
    text: "Contact",
  },
];
---

<>
  <nav
    aria-label="Main"
    class="relative flex flex-row p-4 md:p-6 xl:p-8 bg-grey-2 shadow-xl"
  >
    <a
      class="z-50 md:text-lg xl:text-xl xl-py-0.5 hover:text-blue-light focus:bg-grey-4 rounded-lg duration-300"
      href="/">Tom Scanlon</a
    >
    <Rainbow />
    <button
      id="show-mobile-nav"
      type="button"
      class="md:hidden rounded-full p-1 ml-auto hover:bg-grey-4 focus:bg-grey-4 duration-300"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
    <!-- Desktop nav -->
    <ul class="hidden md:flex flex-row ml-auto">
      {
        links.map((link) => (
          <li>
            <a
              class="block px-1 xl:py-0.5 ml-6 xl:ml-12 text-lg xl:text-xl hover:text-blue-light focus:bg-grey-4 rounded-lg duration-300"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</>
<!-- Mobile nav -->
<div
  id="mobile-nav-container"
  class="hidden md:hidden fixed z-50 h-full w-full top-0 bg-grey-1 p-4"
>
  <div class="relative">
    <button
      type="button"
      id="hide-mobile-nav"
      class="absolute right-0 rounded-full p-1 hover:bg-grey-4 focus:bg-grey-4 duration-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <span class="sr-only">Close main menu</span>
    </button>
    <ul class="text-2xl pt-12">
      <li>
        <a
          class="block py-6 px-4 w-full hover:bg-grey-4 focus:bg-grey-4 rounded-lg duration-300"
          href="/"
        >
          Home
        </a>
      </li>
      {
        links.map((link) => (
          <li>
            <a
              class="block py-6 px-4 w-full hover:bg-grey-4 focus:bg-grey-4 rounded-lg duration-300"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  nav {
    padding-left: 82px;
  }

  nav > a {
    text-shadow: 1px 1px 0px theme(colors.grey.5);
  }

  @media screen(md) {
    nav {
      padding-left: 105px;
    }
  }

  @media screen(xl) {
    nav {
      padding-left: 146px;
    }
  }
</style>

<script>
  const openMobileNav = document.getElementById("show-mobile-nav");
  const closeMobileNav = document.getElementById("hide-mobile-nav");
  const mobileNav = document.getElementById("mobile-nav-container");

  function showNav() {
    mobileNav?.classList.remove("hidden");
    closeMobileNav?.focus();
  }

  function hideNav() {
    mobileNav?.classList.add("hidden");
    openMobileNav?.focus();
  }

  openMobileNav?.addEventListener("click", showNav);
  closeMobileNav?.addEventListener("click", hideNav);
</script>
