---
import Logo from "./Logo.astro";

const links = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/portfolio",
    text: "Portfolio",
  },
  {
    href: "/blog",
    text: "Blog",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/contact",
    text: "Contact",
  },
];
---

<>
  <nav
    aria-label="Main"
    class="relative flex flex-row-reverse p-4 bg-grey-2 shadow-xl"
  >
    <svg
      width="82"
      height="64"
      viewBox="0 0 82 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute left-0 top-0"
    >
      <rect
        x="48.6278"
        y="-36.3"
        width="12"
        height="128"
        transform="rotate(32 48.6278 -36.3)"
        class="fill-red"></rect>
      <rect
        x="79.1096"
        y="-17.2528"
        width="12"
        height="128"
        transform="rotate(32 79.1096 -17.2528)"
        class="fill-blue"></rect>
      <rect
        x="68.9331"
        y="-23.6118"
        width="12"
        height="128"
        transform="rotate(32 68.9331 -23.6118)"
        class="fill-green"></rect>
      <rect
        x="58.7565"
        y="-29.9709"
        width="12"
        height="128"
        transform="rotate(32 58.7565 -29.9709)"
        class="fill-yellow"></rect>
    </svg>
    <button
      id="show-mobile-nav"
      type="button"
      class="md:hidden rounded-full p-1 hover:bg-grey-4 focus:bg-grey-4 duration-300"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </nav>
  <div
    id="mobile-nav-container"
    class="hidden md:hidden fixed z-50 h-full w-full top-0 bg-grey-1 p-4"
  >
    <div class="relative">
      <button
        type="button"
        id="hide-mobile-nav"
        class="absolute right-0 rounded-full p-1 hover:bg-grey-4 focus:bg-grey-4 duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
        <span class="sr-only">Close main menu</span>
      </button>
      <div class="px-4 pt-12 w-[50%]">
        <Logo />
      </div>
      <ul class="text-2xl pt-12">
        {
          links.map((link) => (
            <li>
              <a
                class="block py-6 px-4 w-full hover:bg-grey-4 focus:bg-grey-4 rounded-lg duration-300"
                href={link.href}
              >
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</>

<script>
  const openMobileNav = document.getElementById("show-mobile-nav");
  const closeMobileNav = document.getElementById("hide-mobile-nav");
  const mobileNav = document.getElementById("mobile-nav-container");

  function showNav() {
    mobileNav?.classList.remove("hidden");
    closeMobileNav?.focus();
  }

  function hideNav() {
    mobileNav?.classList.add("hidden");
    openMobileNav?.focus();
  }

  openMobileNav?.addEventListener("click", showNav);
  closeMobileNav?.addEventListener("click", hideNav);
</script>
