---
import "@fontsource/bungee-shade";

import { links } from "@features/navigation/lib/links";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"header"> {
  class?: string;
  children: any;
}
const backgrounds = {
  blue: "data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23076678' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E",
  yellow:
    "data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b57614' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E",
  green:
    "data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2379740e' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E",
};

const activeRoute = links.find((link) => link.href === Astro.url.pathname);
const { class: className, ...attrs } = Astro.props;
---

<header
  class="w-full top-0 pr-4 md:pr-6 xl:pr-8 pl-4 md:pl-12 xl:pl-14 pb-24"
  style={{
    "background-image": `url(\"${backgrounds[activeRoute?.color ?? "blue"]}\")`,
  }}
  class:list={[
    {
      "bg-blue": activeRoute?.color === "blue",
      "bg-yellow": activeRoute?.color === "yellow",
      "bg-green": activeRoute?.color === "green",
    },
    className,
  ]}
  {...attrs}
>
  <div class="container mx-auto flex justify-center sm:justify-start">
    <h1
      class="sm:ml-6 relative text-4xl md:text-6xl font-serif inline-block pt-2 pb-3 before:w-full before:z-0 before:h-full before:absolute before:-skew-x-[30deg] before:top-0 before:bg-grey-2"
    >
      <span class="relative px-6 z-10">
        <slot />
      </span>
    </h1>
  </div>
</header>

<style>
  header {
    padding: calc(74px + theme(space.24)) 0;
    background-attachment: fixed;
  }

  @media screen(xl) {
    header {
      padding: calc(74px + theme(space.32)) 0;
    }
  }
</style>
