---

---

<div class="absolute left-0 top-0">
  <!-- Small breakpoint -->
  <svg
    width="82"
    height="64"
    viewBox="0 0 82 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="block md:hidden"
  >
    <rect
      x="48.6278"
      y="-36.3"
      width="12"
      height="128"
      transform="rotate(32 48.6278 -36.3)"
      class="fill-red"></rect>
    <rect
      x="79.1096"
      y="-17.2528"
      width="12"
      height="128"
      transform="rotate(32 79.1096 -17.2528)"
      class="fill-blue"></rect>
    <rect
      x="68.9331"
      y="-23.6118"
      width="12"
      height="128"
      transform="rotate(32 68.9331 -23.6118)"
      class="fill-green"></rect>
    <rect
      x="58.7565"
      y="-29.9709"
      width="12"
      height="128"
      transform="rotate(32 58.7565 -29.9709)"
      class="fill-yellow"></rect>
  </svg>
  <!-- Medium breakpoint -->
  <svg
    width="105"
    height="76"
    viewBox="0 0 105 76"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden md:block xl:hidden"
  >
    <rect
      x="74.1562"
      y="-72.4887"
      width="16"
      height="165.135"
      transform="rotate(32 74.1562 -72.4887)"
      class="fill-red"></rect>
    <rect
      x="114.815"
      y="-47.0825"
      width="16"
      height="165.135"
      transform="rotate(32 114.815 -47.0825)"
      class="fill-blue"></rect>
    <rect
      x="101.246"
      y="-55.5611"
      width="16"
      height="165.135"
      transform="rotate(32 101.246 -55.5611)"
      class="fill-green"></rect>
    <rect
      x="87.6772"
      y="-64.0399"
      width="16"
      height="165.135"
      transform="rotate(32 87.6772 -64.0399)"
      class="fill-yellow"></rect>
  </svg>
  <!-- XL breakpoint -->
  <svg
    width="146"
    height="97"
    viewBox="0 0 146 97"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden xl:block"
  >
    <rect
      x="67.9796"
      y="-55.8477"
      width="24"
      height="165.135"
      transform="rotate(32 67.9796 -55.8477)"
      class="fill-red"></rect>
    <rect
      x="128.991"
      y="-17.7234"
      width="24"
      height="165.135"
      transform="rotate(32 128.991 -17.7234)"
      class="fill-blue"></rect>
    <rect
      x="108.638"
      y="-30.4415"
      width="24"
      height="165.135"
      transform="rotate(32 108.638 -30.4415)"
      class="fill-green"></rect>
    <rect
      x="88.285"
      y="-43.1595"
      width="24"
      height="165.135"
      transform="rotate(32 88.285 -43.1595)"
      class="fill-yellow"></rect>
  </svg>
</div>
