---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ProjectSummary from "@features/projects/components/ProjectSummary.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const projectEntries = await getCollection("projects");

  const paths = projectEntries.flatMap((category) =>
    category.data.projects.map((project) => ({
      params: {
        slug: project.slug,
      },
      props: project,
    }))
  );

  return paths;
}) satisfies GetStaticPaths;

const project = Astro.props;
---

<PageLayout meta={{ title: `${project.title} | Projects` }}>
  <h1 class="sr-only">{project.title}</h1>
  <ProjectSummary project={project} />
</PageLayout>
