---
import { Image } from "astro:assets";

import SocialMedia from "./SocialMedia.astro";
import logo from "../images/logo.svg";
import { links } from "../lib/links";
---

<footer class="bg-grey-1 p-4 md:p-6 xl:p-8 flex justify-center items-center">
  <div class="container mx-auto">
    <div>
      <Image src={logo} alt="" quality="max" class="w-24" />
      <p class="mt-8">
        Making the world a better place, one line of code at a time.
      </p>
      <SocialMedia />
    </div>
    <div class="grid mt-16 grid-cols-2 gap-4">
      <nav aria-label="Footer">
        <h2 class="mb-4 font-semibold">Navigation</h2>
        <ul>
          {
            links.map((link) => (
              <li>
                <a
                  class="block py-2 hover:text-blue-light focus:bg-grey-4 rounded-lg duration-300"
                  href={link.href}
                >
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div>
        <h2 class="mb-4 font-semibold">Where I am</h2>
        <p class="mb-4">I'm currently in:</p>
        <a
          class="px-3 py-1 bg-grey-3 rounded-full"
          href="https://www.google.com/maps/search/?api=1&query=perugia+italy"
          target="_blank">🇮🇹 Perugia, Italy</a
        >
      </div>
    </div>
  </div>
</footer>
