---
import { Image } from "astro:assets";
import { links } from "../lib/links";
import SocialMedia from "@components/SocialMedia.astro";
import logo from "../images/logo.svg";
---

<footer class="relative bg-grey-1 px-4 md:px-6 xl:px-8 py-12 md:py-18 xl:py-24">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-16"
  >
    <Image src={logo} alt="" quality="max" class="w-24 md:col-span-full" />
    <div>
      <p>Making the world a better place, one line of code at a time.</p>
      <SocialMedia class="mt-4" />
    </div>
    <div class="grid grid-cols-2 md:col-span-2 md:gap-16 mb-8 md:mb-0">
      <nav aria-label="Footer">
        <h2 class="mb-4 font-semibold">Navigation</h2>
        <ul>
          {
            links.map((link) => (
              <li>
                <a
                  class="block py-2 hover:text-blue-light focus:bg-grey-4 rounded-lg duration-300"
                  href={link.href}
                >
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div>
        <h2 class="mb-4 font-semibold">Where I am</h2>
        <p class="mb-4">I'm currently in:</p>
        <a
          class="px-3 py-1 bg-grey-2 rounded-full hover:bg-grey-4 focus:bg-grey-4 duration-300 border border-grey-11"
          href="https://www.google.com/maps/search/?api=1&query=perugia+italy"
          target="_blank"><span class="mr-2">🇮🇹</span>Perugia</a
        >
      </div>
    </div>
    <div class="col-span-full border-t border-t-grey-3 text-sm pt-8">
      © {new Date().getFullYear()} Tom Scanlon. All rights reserved.
    </div>
  </div>
</footer>
