---

---

<div class="absolute left-0 top-0 h-full">
  <svg
    width="146"
    height="96"
    viewBox="0 0 146 97"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="block"
    role="img"
    aria-hidden="true"
  >
    <rect
      x="67.9796"
      y="-55.8477"
      width="24"
      height="165.135"
      transform="rotate(32 67.9796 -55.8477)"
      class="fill-red"></rect>
    <rect
      x="128.991"
      y="-17.7234"
      width="24"
      height="165.135"
      transform="rotate(32 128.991 -17.7234)"
      class="fill-blue"></rect>
    <rect
      x="108.638"
      y="-30.4415"
      width="24"
      height="165.135"
      transform="rotate(32 108.638 -30.4415)"
      class="fill-green"></rect>
    <rect
      x="88.285"
      y="-43.1595"
      width="24"
      height="165.135"
      transform="rotate(32 88.285 -43.1595)"
      class="fill-yellow"></rect>
  </svg>
</div>
