---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";

import Navigation from "@features/navigation/components/Navigation.astro";
import Footer from "@features/navigation/components/Footer.astro";
import Chat from "@features/chat/components/Chat.svelte";
import Meta from "@components/Meta.astro";

export interface Meta {
  title: string;
}

interface Props {
  children?: any;
  meta: Meta;
}

const { meta } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={meta.title} />
  </head>
  <body class="antialiased bg-grey-2 text-grey-11 text-md md:text-lg">
    <Navigation />
    <slot />
    <Footer />
    <Chat client:idle />
  </body>
</html>
