---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";

import Navigation from "@features/navigation/components/Navigation.astro";
import Footer from "@features/navigation/components/Footer.astro";
import Chat from "@features/contact/components/Chat.svelte";

export interface Meta {
  title: string;
}

interface Props {
  children?: any;
  meta: Meta;
}

const { meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{meta.title} | Tom Scanlon</title>
  </head>
  <body class="antialiased bg-grey-2 text-grey-11 text-md md:text-lg">
    <Navigation />
    <slot />
    <Footer />
    <Chat client:idle />
  </body>
</html>
